<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>
<!-- Appear JavaScript -->
<script src="/js/jquery.appear.js"></script>
<!-- Countdown JavaScript -->
<script src="/js/countdown.min.js"></script>
<!-- Counterup JavaScript -->
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<!-- Wow JavaScript -->
<script src="/js/wow.min.js"></script>
<!-- Apexcharts JavaScript -->
<script src="/js/apexcharts.js"></script>
<!-- Slick JavaScript -->
<script src="/js/slick.min.js"></script>
<!-- Select2 JavaScript -->
<script src="/js/select2.min.js"></script>
<!-- Owl Carousel JavaScript -->
<script src="/js/owl.carousel.min.js"></script>
<!-- Magnific Popup JavaScript -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- Smooth Scrollbar JavaScript -->
<script src="/js/smooth-scrollbar.js"></script>
<!-- lottie JavaScript -->
<script src="/js/lottie.js"></script>
<!-- am core JavaScript -->
<script src="/js/core.js"></script>
<!-- am charts JavaScript -->
<script src="/js/charts.js"></script>
<!-- am animated JavaScript -->
<script src="/js/animated.js"></script>
<!-- am kelly JavaScript -->
<script src="/js/kelly.js"></script>
<!-- am maps JavaScript -->
<script src="/js/maps.js"></script>
<!-- am worldLow JavaScript -->
<script src="/js/worldLow.js"></script>
<!-- Raphael-min JavaScript -->
<script src="/js/raphael-min.js"></script>
<!-- Morris JavaScript -->
<script src="/js/morris.js"></script>
<!-- Morris min JavaScript -->
<script src="/js/morris.min.js"></script>
<!-- Flatpicker Js -->
<script src="/js/flatpickr.js"></script>
<!-- Style Customizer -->
<script src="/js/style-customizer.js"></script>
<!-- Chart Custom JavaScript -->
<script src="/js/chart-custom.js"></script>
<!-- Custom JavaScript -->
<script src="/js/custom.js"></script>
<!--validation-->
<script src="/js/formvalidation.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>

    const host = "https://provinces.open-api.vn/api/";

    var callAPI = (api) => {
        return axios.get(api)
            .then((response) => {
                console.log(response.data);
                renderData(response.data, "city");

            });
    }
    callAPI('https://provinces.open-api.vn/api/?depth=1');
    var callApiDistrict = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data.districts, "district");
            });
    }
    var callApiWard = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data.wards, "ward");
            });
    }

    var renderData = (array, select) => {
        let row = ' <option disable value="">Chọn</option>';
        array.forEach(element => {
            row += `<option data-id="${element.code}" value="${element.name}">${element.name}</option>`

        });
        document.querySelector("#" + select).innerHTML = row
    }

    $("#city").change(() => {
        callApiDistrict(host + "p/" + $("#city").find(':selected').data('id') + "?depth=2");

    });
    $("#district").change(() => {
        callApiWard(host + "d/" + $("#district").find(':selected').data('id') + "?depth=2");

    });
    $("#ward").change(() => {

    })

</script>
<script>
        (function ($) {

            $('#serch').on("focus", function (e) {
                $('.result-serch').show();
            })
            $('#serch').on("blur", function (e) {
                $('.result-serch').hide();
            })

            let index = 0;
            $('.ri-shopping-cart-2-fill').on("click", function (e) {
                $('#count-cart').html(`${index}`);
                index++;
            })
        })(jQuery)
    function sendata(e) {
        let serch = document.getElementById('serch-title');
        let rs = document.getElementById('list-serch');
        let show = document.getElementById('serch');
        let a = document.getElementsByClassName('result-serch')

        let match = e.value.match(/^[a-zA-Z0-9 ]*$/)



        fetch('getseachbook', {
            method: 'POST',
            headers: { 'content-type': 'application/json' },
            body: JSON.stringify({ payload: e.value })
        })
            .then(res => res.json()).then(data => {
                serch.innerHTML = ""
                let payload = data.payload;
                console.log(payload);
                if (payload.length < 1) {
                    serch.innerHTML = 'không tìm thấy sản phẩm';
                    rs.innerHTML = ''
                    return;
                }
                else {
                    rs.innerHTML = ""

                    payload.forEach((item, index) => {
                        serch.innerHTML = '';
                        rs.innerHTML += `<li class="list-group-item ">
                                            <a id="link-serach" href="/admin-update-book/${item.productID}" tabindex="-1">
                                                <img class="img-reponsive img-rounded pull-left mr-3"
                                                    style="width: 50px;height: 50px;"
                                                    src=" /images/browse-books/${item.thumbnail}" alt="">
                                                ${item.productName}
                                            </a>
                                        </li>`
                    });
                    return

                }



            });

    }

</script>