<!DOCTYPE html>
<html lang="en">

<head>
    <title>Đăng ký</title>
    <link rel="stylesheet" href="/css/validation.css">
    <%- include ("head.ejs") %>
</head>

<body>
    <div class="main">
        <form action="/adminPostRegister" method="POST" class="form" id="form-1">
            <h3 class="heading">Thành viên đăng ký</h3>
            <div class="spacer"></div>
            <div style="display: none; width: 300px;;" class="alert alert-success" role="alert" id="success">
                Đăng ký thành công
            </div>
            <div class="alert alert-danger" role="alert" style="display: none;width: 300px; " id="warning">
                Email đã tồn tại
            </div>
            <div class="form-group  ">
                <label for="fullname" class="form-lable">Tên đầy đủ</label>
                <input type="text" name="fullname" id="fullname" placeholder="VD: Lê Khả Quyền">
                <span class="form-massage"></span>
            </div>
            <div class="form-group">
                <label for="email" class="form-lable">Email</label>
                <input type="text" name="email" id="email" placeholder="VD: khaquyen317@gmail.com">
                <span class="form-massage"></span>
            </div>
            <div class="form-group">
                <label for="password" class="form-lable">nhập mật khẩu</label>
                <input type="password" name="password" id="password" placeholder="nhập mật khẩu">
                <span class="form-massage"></span>
            </div>
            <div class="form-group">
                <label for="passback" class="form-lable">nhập lại mật khẩu</label>
                <input type="password" name="passback" id="passback" placeholder="nhập lại mật khẩu">
                <span class="form-massage"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="submit" value="Đăng ký">
                <span style="margin-left:40px;" class="text-dark dark-color d-inline-block line-height-2"> Bạn đã có
                    tài khoản ?
                    <a style="color: #0dd6b8; font-weight: 500;" href="/adminLogin">Đăng nhập</a>


            </div>
        </form>
    </div>
    <%- include ("boostrapJs.ejs") %>
        <script src="./js/register.js"></script>
        <script>
            //mong muốn của chúng ta khi sử dụng cái thư viện này trong tương lai
            Validator({
                form: '#form-1',
                formGroupSelector: '.form-group',
                errorSelect: '.form-massage',

                rules: [
                    Validator.isRequired('#fullname', 'Vui lòng nhập tên đầy đủ'),
                    Validator.isRequired('#email'),
                    Validator.isEmail('#email', 'Vui lòng nhập email của bạn'),

                    Validator.minLength('#password', 6),
                    Validator.passback('#passback', function () {
                        return document.querySelector('#form-1 #password').value;
                    }, 'Mật khẩu nhập lại không chính xác'),
                    Validator.isRequired('#passback', 'Trường này không được để trống')

                ],
                onSubmit: function (data) {
                    // call api
                    (async (req, res) => {
                        const rawResponse = await fetch('/adminPostRegister', {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ data })
                        });
                        const result = await rawResponse.json();


                        if (result.error == 0) {
                            (function ($) {
                                $('#warning').hide();
                                $("#success").fadeIn("slow");
                                $("#success").fadeIn(3000);
                                $('#success').show();

                            })(jQuery)
                        }
                        else {
                            (function ($) {
                                $('#success').hide();
                                $("#warning").fadeIn("slow");
                                $("#warning").fadeIn(3000);
                                $('#warning').show();

                            })(jQuery)
                        }
                        return result
                    })();

                }
            })
        </script>
</body>

</html>